apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml

helmCharts:
  - name: external-dns
    releaseName: external-dns
    namespace: external-dns
    version: 1.15.0
    valuesFile: values.yaml
    repo: https://kubernetes-sigs.github.io/external-dns/
